* { box-sizing: border-box; }
body {
  font: 16px Arial;
  font-family: 'Open Sans', sans-serif;
  background-color: #222222;
}
#buttons{
  width: 300px;
  display: flex;
  justify-content: space-between;
}
button{
  border-radius: 30px;
    outline: none;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 5px;
    border: none;
    background: #7c7c7c2b;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}
button:hover{
  background: #7c7c7c4b;
  color: whitesmoke;
  cursor: pointer;
}
.ingredients {
  /*the container must be positioned relative:*/
  position: relative;
  margin-top: 10px;
}
input {
  max-width: 300px;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
#submitIngredients {
  background-color: rgb(202, 0, 0);
  color: #fff;
 
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #5f5f5f;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  width: 300px;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #000000;
  border-bottom: 1px solid #d4d4d4;
  max-width: 300px;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #0e0e0e;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #6b6b6b;
}

#drinks-div{
  background: #000000d0;
  color: whitesmoke;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 364px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  max-height: 600px;
  overflow-y:scroll;
  margin-bottom: 30px;
}

img {
  width: 200px;
}

#main-div{
  background: #000000d0;
   color: whitesmoke;
   padding-top: 2em;
   padding-left: 2em;
   padding-right: 2em;
   padding-bottom: 5px;
   border-radius: 30px;
   width: 100%;
   max-width: 364px;
   margin: auto;
   margin-top: 30px;
   text-align: center;
   max-height: 600px;
}

#drinks-div::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}

#drinks-div::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#drinks-div::-webkit-scrollbar-thumb {
  background-color: #ff2a2a;
  border-radius: 50px;
}

#ingredientsList{
color: #ff2a2a;
}